section{
    padding: 10em;
}

.card {
    height: 400px;
    margin: 20px 0;
    border: 1px solid grey 0.6em;
    padding: 7px;
}

 ol.productCard {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    top: 0;
    left: 0;
}

ol.productCard li {
    min-width: 225px;
    background-color: #fff;
    margin-right: 10px;
}

ol.productCard.scroller {
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    overflow-x: scroll;
    margin-left: -10px;
    margin-top: -10px;
}

ol.productCard li div {
    border-radius: 0.4em;
    padding: 6px;
    background-color: #EBEBEB;
    left: 3%;
    right: 3%;
}

ol.productCard li div h4 {
    margin-left: 5px;
    font-size: 22px;
    font-weight: bold;
}

ol.productCard li p {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ol.productCard li a + p {
    padding-top: 10px;
}

.card-img-top{
    padding: 10px;
}

ul {
    list-style: none;
    padding: 20px;
    overflow: hidden;
}

.popup{
   width: 600px;
   position:relative;
   margin-top: 100px;
   border: 1px solid black;
   border-radius: 10px;
   padding: 12px 35px;
   font-size: 13px;
   background-color: black;
   color: white;
}

@media screen and (max-width: 992px) {
    .nav-item {
        width:900px;
    }  
    .nav-item li {
        display:block;
        width:120px;
        float:left;
        margin-left:2px;
    }
}

